<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories='obs.base'}"/>

<!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -->

<sly data-sly-include="cartmodal.html" data-sly-unwrap></sly>
<sly data-sly-use.header="com.orchard.obs.core.models.Header"></sly>
<head>
<div class="head">
	<img src="/content/dam/obs/en/images/icon.png" alt="bookstore logo" id="logo" />
    <div class="head-right">
		<ul>
        	<li class="dropdown" data-sly-repeat="${header.pages}">
				<a  class="childPage" href="${item.path}.html">${item.title}</a>
             	<ul class="dropdown-content">
            		<li data-sly-repeat="${item.childPages}" style="z-index: 100;">
				 		<a class="subChildPage" href="${item.path}.html">${item.title}</a>
             		</li>
             	</ul>
        	</li>
		</ul>
	</div>

	<ul class="navcart">
		<li class="dropdown">
    		<a><i class="fa fa-user-circle" style="font-size:30px;" ></i></a>
      		<ul  class="dropdown-content">
        		<li id="profile-button"><a>Profile</a></li>
            	<li id="login-button" onclick="$(this).login()"><a>Login</a></li>
            	<li id="logout-button" onclick="$(this).logout()"><a>Logout</a></li>
        	</ul>
		</li>
    	<a><li class="dropdown" id="cart" onclick="$(this).cart()"><i class="fa fa-shopping-cart" style="font-size:30px;" ></i></a></li>
	</ul>
</div>
</head>

<script>
$(function() {
	var customerId = null;
	var name = "customerId" + "=";
    var ca = document.cookie.split(';');

  	for(var i = 0; i < ca.length; i++) {
    	var c = ca[i];
    	while (c.charAt(0) == ' ') {
      		c = c.substring(1);
    	}
    	if (c.indexOf(name) == 0) {
      		customerId = c.substring(name.length, c.length);
    	}
  	}

    $.fn.login = function() {
    	window.location.href = "${currentPage.getPath @context='uri'}".substr(0, 18) + "/menu/bookworm/login.html";
    }

   	$.fn.logout = function() {
    	document.cookie = "customerId=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
        location.reload();
    }

	$.fn.cart = function() {
    	if(customerId == null) {
    		window.location.href = "${currentPage.getPath @context='uri'}".substr(0, 18) + "/menu/bookworm/login.html";
        }
        else
        	$(this).fetchCartModalData(customerId);
    }

	if(customerId != null) {
		$("#login-button").hide();
        $("#profile-button").show();
		$("#logout-button").show();
    }
    else {
        $("#login-button").show();
        $("#profile-button").hide();
		$("#logout-button").hide();
    }

    $(".childPage").each(function() {
        var url = "" + $(this).attr("href") + "";
    	$(this).attr("href", "${currentPage.getPath @context='uri'}".substr(0, 18) + url.substr(18));
    });

	$(".subChildPage").each(function() {
        var url = "" + $(this).attr("href") + "";
    	$(this).attr("href", "${currentPage.getPath @context='uri'}".substr(0, 18) + url.substr(18));
    });
});
</script>
